<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="row mt-5">
        <div class="col-8 offset-2">
            <h1>회원가입</h1>

            <form class="row g-3 formA" action="/member/joinA" method="post" th:object="${memberDTO}">
                <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="관리자 이름을 입력해주세요" required>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>
                    <h1 class="name"></h1>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="이메일을 입력해주세요" required>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>
                </div>

                <div class="col-md-6">
                    <label for="identity" class="form-label">ID</label>
                    <input type="text" th:field="*{identity}" class="form-control" id="identity" placeholder="아이디를 입력해주세요" required>
                    <p th:if="${#fields.hasErrors('identity')}" th:errors="*{identity}" class="fieldError"></p>
                </div>

                <div class="col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="비밀번호를 입력해주세요" required>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>

                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary formbtn">가입하기</button>
                    <button type="submit" class="btn btn-primary">로그인</button>
                </div>

            </form>

        </div>

    </div>
    <script th:inline="javascript">
        let msg = [[${msg}]]
        if (msg) {
            alert(msg)
        }

        $("form").on("submit", function (e) {

            if (!nameValid()) {
                return false
            }
        })

        function nameValid() {

            let nameValue = $("#name").val();
            if (nameValue.length < 2 || nameValue.length > 12) {
                alert("이름은 2자 이상 12자 이하여야 합니다.")
                $(".name").text("이름은 2자 이상 12자 이하여야 합니다.")
                return false;
            } else {
                return true;
            }
        }

    </script>
</th:block>

<th:block layout:fragment="script">

</th:block>

</body>
</html>